---
import Layout from "../layouts/Layout.astro";
import Login from "../components/Login"
---

<Layout title="Welcome to Astro.">
  <main class="w-full h-full flex justify-center">
    <section class="w-full h-full max-w-4xl flex justify-center items-center">
      <Login client:load/>
    </section>
  </main>
</Layout>
